/* GLOBAL SETTINGS */
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 62.5%;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

body{
    background: url("assets/img/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

/* SECTION PHONE */
section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31.1rem;
    height: 62.7rem;
    background-image: url("assets/img/frame-iphone.png");
}

iframe#screen{
    position: relative;
    top: 8rem;
    left: 2.2rem;
    width: 26.7rem;
    height: 47.1rem;
}

/* SECTION SOCIAL NETWORKS */
section#social-networks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section#social-networks a{
    margin: 1rem;
}

section#social-networks img{
    width: 5rem;
    border-radius: 100%;
    box-shadow: .2rem .2rem .5rem #0000003f;
    box-sizing: border-box;
}

section#social-networks img:hover{
    border: .2rem solid #ffffffb0;
    transition: .1s;
}